PORT=YOUR_PORT_NUMBER
MONGODB_URI=YOUR_MONGODB_CONNECTION_STRING
ACCESS_TOKEN_SECRET=YOUR_ACCESS_TOKEN_SECRET_KEY
REFRESH_TOKEN_SECRET=YOUR_REFRESH_TOKEN_SECRET_KEY

VITE_API_URL=YOUR_LIVE_BACKEND_API_URL