.userInfo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 14px;
  width: 100%;
}

.userName {
  font-size: 14px;
  font-weight: 700;
  color: #212121;
}

.logoutBtn {
  border: none;
  background: transparent;
  cursor: pointer;

  font-size: 14px;
  color: #9b9faa;
}

.logoutBtn:hover {
  color: #fc842d;
}
