/* Masaüstü görünümde mobil kullanıcı barını tamamen gizle */
@media (min-width: 769px) {
  .mobileUserBar {
    display: none !important;
  }
  .userDesktop {
    display: block !important;
  }
}

/* Mobil görünümde masaüstü kullanıcı alanını tamamen gizle */
@media (max-width: 768px) {
  .userDesktop {
    display: none !important;
  }
  .mobileUserBar {
    display: flex;
    justify-content: flex-end;
    background-color: #eff1f3; /* Arkadaşının tasarladığı o gri alt bar */
    padding: 15px 20px;
  }
  .burger {
    display: block;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
}