.logo {
  display: flex;
  align-items: center;
  gap: 8px;

  text-decoration: none;
}

.icon {
  width: auto;
  height: 28px;

  flex-shrink: 0;
}

.text {
  display: none;

  align-items: center;
  gap: 4px;

  font-weight: 700;
  line-height: 1;
}

.slim {
  color: #212121;
}

.mom {
  color: #fc842d;
}

/* TABLET */
@media screen and (min-width: 768px) {
  .icon {
    height: 34px;
  }

  .text {
    display: flex;
    font-size: 18px;
  }
}

/* DESKTOP */
@media screen and (min-width: 1280px) {
  .logo {
    transform: translateY(-6px);
  }

  .icon {
    height: 44px;
  }

  .text {
    font-size: 22px;
  }
}
