.private-layout {
  display: flex;

  min-height: 100vh;
}

.left-side {
  flex: 1;

  background: white;

  padding: 40px;
}

.right-sidebar {
  width: 420px;

  background: #f0f1f3;

  padding: 40px;
}
